@{
    ViewData["Title"] = "Detalle Pedidos";
}
<div class="contenedor principal" id="tablaDetalle">
    <h2>
        Detalles de ventas
    </h2>
    <hr/>
    <table style="border: 1;">
        <th>Id de pedido</th>
        <th>Detalle de compra</th>
        <th>Precio</th>
        <tr>
            <td>999999</td>
            <td>
                <pre>
- 3 Producto1 1$c/u
- 2 Producto2 2$c/u
- 1 Producto3 3$c/u
                </pre>
            </td>
            <td>Total = 6$</td>
        </tr>
        <tr>
            <td>666666</td>
            <td>
                <pre>
- 3 Producto4 1$c/u
- 2 Producto5 2$c/u
- 1 Producto6 1$c/u
                </pre>
            </td>
            <td>Total = 4$</td>
        </tr>
        <tr>
            <td>333333</td>
            <td>
                <pre>
- 3 Producto7 3$c/u
- 2 Producto8 2$c/u
- 1 Producto9 1$c/u
                </pre>
            </td>
            <td>Total = 14$</td>
        </tr>
        <tr>
            <td>111111</td>
            <td>
                <pre>
- 1 Producto7 4$c/u
- 2 Producto8 8$c/u
- 3 Producto9 3$c/u
                </pre>
            </td>
            <td>Total = 29$</td>
        </tr>
    </table>
</div>