@{
    ViewData["Title"] = "Perfil";
}
<form action="">
    <div class="contenedor principal" id="datosPrinc">
        <!--Aquí van los datos principales-->
        <h4 id="h41" class="titulo">
                Datos Principales
        </h4>
        <br>
        <input type="text" placeholder="Nombre de la Tienda" id="input1" class="input">
        <br>
        <input type="number" placeholder="RISE/RUC" id="input2" class="input">
        <br>
        <label for="permisos" id="permisos" class="titulo">Permisos de Funcionamiento</label>
        <div id="permisosPdf" class="input">
                <span class="titulo secundario" id="adjuntar">Adjuntar PDF</span>
                <input type="file" name="permisos" class="input oculto" id="archivoPermisos">
        </div>
        <br>
        <label for="foto" class="titulo" id="fotoLabel">Agregar una Foto</label>
        <div id="fotoTienda" class="input">
                <span class="titulo secundario" id="fotoSelect">Seleccionar Foto</span>
                <input type="file" class="input oculto" name="foto" id="foto">
        </div>
        <br>
        <div id="empacador" class="input">
                <!--Este espacio es para información del encargado de empaquetar-->
                <h4 class="titulo" id="encEmp">
                    Encargado de Empaquetado
                </h4>
                <br>
                <input type="text" name="" id="nombresEmpacador" class="input" placeholder="Nombre y Apellido">
                <br>
                <div class="input" id="pruebaPdf">
                    <label for="pruebaPcr" class="titulo secundario" id="label1">Prueba PCR</label>
                    <input type="file" class="input oculto" name="" id="pruebaPcrEmp">
                </div>
        </div>
        <br>
        <div id="repartidor" class="input">
                <!--Este espacio es para información del encargado de distribuir (Solo si la tienda tiene)-->
                <h4 class="titulo" id="encDist">
                    Encargado de Distribución
                </h4>
                <br>
                <input type="text" name="" class="input" id="nombresRepartidor" placeholder="Nombre y Apellido">
                <br>
                <div class="input" id="purebaPdfRep">
                    <label for="pruebaPcr" class="titulo secundario" id="label2">Prueba PCR</label>
                    <input type="file" name="" class="input oculto" id="pruebaPcrRep">
                </div>
        </div>
    </div>
    <div class="contenedor principal" id="datosPriv">
            <!--Aquí van el usuario y contraseña-->
            <h4 class="titulo" id="tituloPrivado">
                Privado
            </h4>
            <br>
            <input type="email" class="input" placeholder="Correo Electrónico" id="email">
            <br>
            <input type="number" class="input" placeholder="Número Celular" id="celular">
            <br>
            <input type="password" class="input" placeholder="Contraseña" id="clave">
            <br>
            <button id="button1" class="button">
                Editar
            </button>
    </div>
    <div class="contenedor principal" id="datosUbic">
            <!--Aquí van los datos de ubicacion-->
            <h4 class="titulo" id="tituloUbic">
                Ubicación
            </h4>
            <br>
            <label for="callePrincipal" class="titulo" id="calle1Lab">Calle Princial</label>
            <input type="text" name="" id="callePrincipal" class="input">
            <br>
            <label for="calleSecundaria" class="titulo" id="calle2Lab">Calle Secundaria</label>
            <input type="text" name="" id="calleSecundaria" class="input">
            <br>
            <label for="barrio" class="titulo" id="barrioLab">Barrio</label>
            <input type="text" class="input" name="" id="barrio">
            <br>
            <label for="maps" class="titulo" id="labelMaps">Google Maps</label>
            <br>
            <span id="maps">
                <!--Aquí va el mapa de google maps-->
                <img src="https://i.blogs.es/6f154e/google-maps/840_560.jpg" alt="Google Maps" id="goglmap"
                    style="height: 80px; width: 120px;">
            </span>
    </div>
    <div class="contenedor principal" id="datosEntrega">
            <!--Aquí van la información de entrega y forma de pago-->
            <h4 class="titulo" id="tituloEntrega">
                Entrega y Forma de Pago
            </h4>
            <div id="checList">
                <h5>
                    La forma en que realiza sus entregas
                </h5>
                <input type="checkbox" name="" id="domicilio">
                <label for="domicilio">Entrega a domicilio</label>
                <br>
                <input type="checkbox" name="" id="pedido">
                <label for="pedido">Reserva de pedidos</label>
                <h5>
                    La Forma en que realiza sus cobros
                </h5>
                <input type="checkbox" name="" id="transferBanc">
                <label for="transferBanc">Transferencia bancaria</label>
                <br>
                <input type="checkbox" name="" id="tarjetas">
                <label for="tarjetas">Tarjeta de debito/crédito</label>
                <br>
                <input type="checkbox" name="" id="mediosElectronicos">
                <label for="mediosElectronicos">Otros medios electronicos</label>
                <br>
                <input type="checkbox" name="" id="efectivo">
                <label for="efectivo">Efectivo</label>
                <h5>
                    Facturación
                </h5>
                <input type="checkbox" name="" id="factElectronica">
                <label for="factElectronica">Electrónica</label>
                <br>
                <input type="checkbox" name="" id="factFisica">
                <label for="factFisica">Fisica</label>
            </div>
    </div>
</form>