/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}


/*Estilos agregados*/

.contenedor{
    border: 1px solid;
    border-radius: 10px;
}

.principal{
    position: absolute;
    left: 25%;
}

.titulo{
    position: relative;
    background: white;
    margin: 0;
}

.input{
    position: relative;
    margin-left: 1%;
    margin-bottom: 1%;
    border-style: none;
    border-radius: 5px;
    border: 1px solid;
}

.secundario{
    background: none;
    color: rgba(56, 56, 56, 0.699);
}

.oculto{
    opacity: 0;
    cursor: pointer;
}

.button{
    position: relative;
}

#datosPrinc {
    top: 90px;
    height: 500px;
    width: 410px;
}

#datosUbic{
    top: 615px;
    width: 410px;
}

#datosEntrega{
    top: 895px;
    width: 410px;
}

#h41 {
    top: -18px;
    width: 188px;
    left: 2%;
}

#input1{
    top: -30px;
}

#input2{
    top: -28px;
}

#permisos {
    left: 49%;
    top: -95px;
}

#permisosPdf {
    height: 23px;
    width: 207px;
    left: 47%;
    top: -90px;
}

#adjuntar{
    margin: 26%;
}

#archivoPermisos {
    margin: 0;
    top: -25px;
    width: 205px;
    height: 23px;
}

#fotoLabel {
    top: -50px;
    left: 10%;
}

#fotoTienda{
    height: 130px;
    width: 210px;
    left: 46%;
    top: -118px;
}

#fotoSelect{
    top: 50px;
    left: 50px;
}

#foto{
    height: 130px;
    width: 210px;
    margin: 0;
    top: -25px;
}

#empacador {
    width: 95%;
    height: auto;
    margin: 2%;
    top: -130px;
}

#encEmp{
    top: -14px;
    width: 247px;
    left: 5px;
    font-size: 120%;
}

#nombresEmpacador {
    top: -15px;
    left: 0;
    width: 95%;
    text-align: center;
}

#pruebaPdf{
    top: -10px;
    left: 0;
    width: 96%;
    height: 22px;
}

#label1 {
    top: 0;
    left: 40%;
}

#pruebaPcrEmp {
    width: 371px;
    left: -5px;
    top: -25px;
    height: 22px;
}

#repartidor {
    width: 95%;
    height: auto;
    margin: 2%;
    top: -150px;
}

#encDist{
    width: 231px;
    top: -14px;
    left: 5px;
    font-size: 120%;
}

#nombresRepartidor {
    top: -15px;
    left: 0;
    width: 95%;
    text-align: center;
}

#purebaPdfRep{
    top: -10px;
    left: 0;
    width: 96%;
    height: 22px;
}

#label2 {
    top: 0;
    left: 40%;
}

#pruebaPcrRep{
    width: 371px;
    left: -5px;
    top: -25px;
    height: 22px;
}

#datosPriv{
    height: 130px;
    width: 195px;
    left: 70%;
    top: 90px;
}

#tituloPrivado{
    top: -18px;
    left: 5px;
    width: 83px;
}

#email {
    top: -30px;
    margin-left: 3%;
}

#celular {
    top: -25px;
    margin-left: 3%;
}

#clave {
    top: -20px;
    margin-left: 3%;
}

#button1 {
    left: 35%;
    top: -5px;
}

#tituloUbic{
    top: -18px;
    width: 107px;
    left: 5px;
}

#calle1Lab{
    left: 10%;
    top: -20px;
}

#callePrincipal{
    left: 15%;
    top: -20px;
    width: 55%;
}

#calle2Lab{
    left: 5%;
    top: -20px;
}

#calleSecundaria{
    left: 8.5%;
    top: -20px;
    width: 55%;
}

#barrioLab{
    left: 22%;
    top: -20px;
}

#barrio{
    left: 26.5%;
    top: -20px;
    width: 55%;
}

#labelMaps{
    left: 37%;
    top: -15px;
}

#maps{
    position: relative;
    left: 35%;
    top: -10px;
    cursor: pointer;
}

#tituloEntrega{
    top: -19px;
    left: 5px;
    width: 274px;
}

#checList{
    position: relative;
    width: 55%;
    left: 22.5%;
}

#tablaDetalle {
    width: 29%;
    left: 33%;
    padding: 1%;
    text-align: center;
}

